*.aux
*.bbl
*.bcf
*.blg
*.fls
*.synctex
*.log
*.fdb_latexmk
*.run.xml
*.synctex*
*.out
auto/
/*.tex~
/*.auxlock
*.ilg
*.ind
*.toc
*.lof
*.lot
*.idx
*~
.#*
\#*\#
/*.synctex(busy)
*.agdai
MAlonzo
_build
*.exe
